.header {
  height: 80px;
  display: flex;
  align-items: center;
  background-color: var(--navbar-color);
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 15rem;
  object-fit: contain;
  margin: 0 20px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border: 24px;
}

.header__search-icon {
  padding: 5px;
  height: 2.5rem !important;
  width: 3rem !important;
  background-color: var(--primary-color);
  color: white;
}

.header__search-input {
  height: 2.5rem;
  padding: 10px;
  border: none;
  width: 100%;
  outline: none;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  color: white;
}

.header__option-lineOne {
  font-size: 0.8rem;
}

.header__option-lineTwo {
  font-size: 1rem;
  font-weight: 800;
}

.header__option-basket {
  display: flex;
  align-items: center;
  color: white;
}

.header__basket-count {
  margin: 0 0.5rem;
}
